@import '@fontsource/roboto';
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto-regular {
  font-family: 'Roboto', sans-serif;
}

.grid-cols-custom {
  grid-template-columns: repeat(6, minmax(1fr));
}

.grid-custom {
  grid-template-columns: repeat(6, min-content);
}

.grid-cols-custom-2 {
  grid-template-columns: repeat(7, minmax(1fr));
}